
<link rel="stylesheet" href="location_admin.css">
</br>
</br>
</br>
</br>
<div class="container">
	<div class="row">
		<!--business information-->
		<section class="content" ng-init="mapStatus='Hide'">
			<div class="container" width="100%">
				<div class="row col-lg-6 col-md-6">
					<img src={{location.image}} width="100%" style="float:right"/>
					<a href ng-click="showURL()" style="display:inline-block;float:right"> Edit Image URL</a>
					<input type="text" ng-show="editURL" ng-model="location.image" style="float:right" placeholder="Add Image URL" style="width:45%">
				</div>
				<div class="row col-lg-6 col-md-6" style="padding:5%">
					Name: <input type="text" ng-model="location.name" style="width:80%">
				</br>Description: <textarea class="textareawrap" type="text" ng-model="location.description" style="float:left;font-size:1.5rem;height:2rem;border:0;"/>
			</br>Phone Number: <input type="text" ng-model="location.phonenumber" style="width:70%">
					</br>Town/City: <input type="text" ng-model="location.city" style="width:80%">
					</br>Street: <input type="text" ng-model="location.street" style="width:80%">
					</br>Longitude: <input id="long" name="long" type="text" ng-model="location.longitude" style="width:80%">
				</br>Latitude: <input id="lat" name="lat" type="text" ng-model="location.latitude" style="width:80%"></br>
					<a href ng-click="displayMap()">{{mapStatus}} Map</a>
			    <br />
			    <br />
				</div>
			</div>
			<div ng-hide="showMap">
				<div id="map_canvas" style="width: 100%; height: 250px;"></div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<h4>{{title}}</h4>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-right">
							<div class="btn-group">
							</div>
						</div>
<!--Categories-->
						<div class="table-container" ng-init="items=[]; itemOptions=[]">
							<table class="table table-filter">
								<tbody>
									<tr>
										<td>
												<div style="float:left">
													<u><h4>Categories</h4></u>
												</div>
												<div style="float:right">
													Edit Mode:
													<label class="switch">
												  <input type="checkbox" ng-model="catEdit">
												  <div class="slider round"></div>
													</label>
												</div>
										</td>
									</tr>
									<tr data-status="pendiente" ng-repeat="category in location.categories">
<!--category details-->
										<td>
											<button class="btn btn-danger" style="padding:10px;line-height:10px;float:right" ng-show="catEdit" ng-click="removeCategory($index)">delete</button>
											<div class="media-body">
											  <input type="text" placeholder="Add Category Name" ng-model="category.category">
												<a href ng-click="viewItem($index)">Items:{{category.items.length}}</a>
	<!--Items-->
												<table class="table table-filter" ng-show="items[$index]">
													<tbody>
														<tr class="row" data-status="pendiente">
															<td style="padding-left:10%">
																	<div style="float:left">
																		<u><h4>Items</h4></u>
																	</div>
																	<div style="float:right">
																		Edit Mode:
																		<label class="switch">
																	  <input type="checkbox" ng-model="itemEdit">
																	  <div class="slider round"></div>
																		</label>
																	</div>
															</td>
														</tr>
	<!--Item details-->
														<tr class="row" data-status="pendiente" ng-repeat="item in category.items">
															<td style="padding-left:10%">
																<button class="btn btn-danger" style="padding:10px;line-height:10px;float:right" ng-show="itemEdit" ng-click="removeItem($parent.$index,$index)">delete</button>
																<div class="media-body">
																  <input type="text" ng-model="item.name" placeholder="Add Name" style="float:left;width:50%">
																	<span style="font-size: 1.5rem">$</span><input type="number" placeholder="Add Price" name="price" step=".05" ng-model="item.price" style="width:25%">
																</div>
																<textarea class="textareawrap" name="description" placeholder="Add Description" ng-model="item.description" style="float:left;font-size:14px;height:1.5rem;border:0"/>
																<a href ng-hide="itemEdit" ng-click="viewOption($index)">Options:{{item.options.length}}</a>
	<!--Options-->
																<div ng-show="itemOptions[$index]" style="padding-left:10%">
																	<div style="float:left;width:50%">
																		<u><h5 style="margin:0px">Options</h5></u>
																	</div>
																	<div style="float:right;width:50%;">
																		Edit Mode:
																		<label class="switch">
																		<input type="checkbox" ng-model="optionEdit">
																		<div class="slider round"></div>
																		</label>
																	</div>
	<!--option details-->
																	<div ng-repeat="option in item.options" style="border-bottom: 1px black solid; width:100%;display: inline-block; padding:10px">
																		<button class="btn btn-danger" style="padding:10px;line-height:10px;float:right" ng-show="optionEdit" ng-click="removeOption($parent.$parent.$index,$parent.$index,$index)">delete</button>
																		<input type="text" ng-model="option.name" placeholder="Add Name" style="width:25%;height:1.5rem;font-size:1rem;font-weight:500;width:25%"></br>
																		<input type="checkbox" ng-model="option.multiple" /> Can choose more than 1
																		<div ng-repeat="element in option.elements">
	<!--element details-->
																			<button class="btn btn-danger" style="padding:5px;line-height:5px;float:left;margin:0px;display: inline-block" ng-show="optionEdit" ng-click="removeElement($parent.$parent.$parent.$index,$parent.$parent.$index,$parent.$index,$index)">-</button>
																			  <input type="text" ng-model="element.text" placeholder="Add Name" style="width:25%;height:1.5rem;font-size:1rem;padding-left:5px">
																			$<input type="text" ng-model="element.price" placeholder="Add Price" style="width:25%;height:1.5rem;font-size:1rem;padding-left:5px">
																		</div>
																		<div class="row" style="margin:0px;padding:5px">
																			<button class="btn btn-primary" style="padding:5px;line-height:5px;float:left;margin:0px" ng-show="optionEdit" ng-click="addElement($parent.$parent.$index,$parent.$index,$index)">+</button>
																		</div>
																	</div>
																	<button class="btn btn-primary" style="padding:10px;line-height:10px;float:left;" ng-show="optionEdit" ng-click="addOption($parent.$index,$index)">Add Option</button>
																  </br>
																	</br>
																	</div>
															</td>
														</tr>
														<tr class="row" data-status="pendiente" ng-show="itemEdit">
															<td>
																<button class="btn btn-primary" ng-click="addItem($index)">Add Item</button>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</td>
									</tr>
									<tr ng-show="catEdit"><td><button class="btn btn-primary" ng-click="addCategory()">Add Category</button></td></tr>
								</tbody>
							</table>
							<button class="btn-primary" ng-click="update()">Save Changes</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<script type="text/javascript">
var map;

function initMap() {
		var myLatlng = new google.maps.LatLng(document.getElementById('lat').value, document.getElementById('long').value);

		var myOptions = {
				zoom: 15,
				center: myLatlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var marker = new google.maps.Marker({
				draggable: true,
				position: myLatlng,
				map: map,
				title: "Your location"
		});

		google.maps.event.addListener(marker, 'dragend', function (event) {


				document.getElementById("lat").value = event.latLng.lat();
				document.getElementById("long").value = event.latLng.lng();
		});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUZLs6B8PtskGwpp-YnVbTaQEHQoi_HPE&callback=initMap"
    defer></script>
